.cart-table {
    width: 98%;
    border-collapse: collapse;
    margin: 20px 22px 22px 12px;
    margin-right: 12px;
    font-size: 16px;
  }
  
  .cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .cart-table th {
    background-color: #d2a679;
    color: white;
  }
  
  .product-image {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  .quantity-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
  }
  
  .quantity-btn:disabled {
    background-color: #e6e6e6;
    color: #aaa;
  }
  
  .remove-btn {
    background: none;
    border: none;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    color: #b52e2e;
  }
  
  .payment-btn {
    background-color: #6f4e37;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
  }
  
  .payment-btn:hover {
    background-color: #523927;
  }
  