.contact-us {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
  }
  .contact-b{
    width: 90%;
    height: 90%;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  } 
  .contact-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid #ddd; Box border */
    padding: 20px;
    border-radius: 10px; /* Optional: adds rounded corners */
  }
  
  .contact-card {
    text-align: center;
    padding: 10px;
    flex: 1 1 200px; /* Allows cards to scale and wrap */
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .contact-icon {
    font-size: 2rem;
    color: #6f4e37;
    margin-bottom: 10px;
  }
  
  .contact-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #6f4e37;
    
  }
  
  .contact-card p {
    font-size: 1rem;
    margin: 3px 0;
    color: #555;
  }
  