.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  .hero-buttons {
    margin-top: 1.5rem;
  }
  
  .hero-buttons .btn-view,
  .hero-buttons .btn-book {
    padding: 0.8rem 1.5rem; 
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .btn-view {
    background-color: #a97142;
    color: white;
  }
  
  .btn-book {
    background-color: #56351e;
    color: white;
  }
  